doctype html
html(lang="en")
    head
        title= "category"
        link(rel="stylesheet" href="./stylesheets/layoutStyle.css")
        link(rel="stylesheet" href="./bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet" href="./stylesheets/category.css")
        script(src="./jquery/dist/jquery.js")
    body
        include header.html
        .container.title-margin
            .panel.panel-danger
                .panel-heading
                    for category in breadArray
                        a(href="/category?type="+category).text-cursor #{category}
                        span.glyphicon.glyphicon-chevron-right.char-style
                .panel-body
                    for sun in sunCategory
                        a(href="/category?type="+sun).col-md-1.category.text-center.text-cursor #{sun}
                        
                    .col-md-3.pull-right
                        .btn.btn-danger.col-md-4.text-center
                            span.glyphicon.glyphicon-chevron-left
                        .col-md-4.text-center.page-detail 23/30
                        .btn.btn-danger.col-md-4.text-center
                            span.glyphicon.glyphicon-chevron-right.char-style
            .panel.panel-danger
                .panel-body
                    if data.length !== 0
                        for goodsInfo in data
                            .col-md-3.info-margin-bottom
                                .clearfix
                                    a(href="/goods?id="+ goodsInfo.id)
                                        img.col-md-12.text-center.img-cursor(src=goodsInfo.img height="224px;")
                                .col-md-12
                                    .pull-left.col-md-6.text-center.border $#{goodsInfo.price}
                                    .pull-right.col-md-6.text-center.border 销量：#{goodsInfo.sales}
                                    a(href="/goods?id="+ goodsInfo.id)
                                        .col-md-12.border.info-div.text-cursor #{goodsInfo.info}
                    else 
                        |此类无商品
                .panel-heading.text-center
                    a.btn.btn-defaults.color-font 上一页
                    a.btn.btn-defaults.color-font 1
                    a.btn.btn-defaults.color-font 2
                    a.btn.btn-defaults.color-font 3
                    a.btn.btn-defaults.color-font 4
                    a.btn.btn-defaults.color-font 5
                    a.btn.btn-defaults.color-font 6
                    a.btn.btn-defaults.color-font 7
                    |···
                    a.btn.btn-defaults.color-font 下一页
                    | 共有100页
        include footer.html
        script(src="./javascripts/category.js")
