doctype html
html(lang="en")
    head
        title= "goods-detail"
        link(rel="stylesheet" href="./stylesheets/layoutStyle.css")
        link(rel="stylesheet" href="./stylesheets/bootstrap.css")
        link(rel="stylesheet" href="./stylesheets/product.css")
    body
        include header.html
        .container
            .buy-content
                .buy-content-imgbox
                    .product-imgbox
                        .product-bigimg-box
                            if imgDate.length === 0 
                                img(src="./images/goods/yang.jpg" class="big-picture")
                            else 
                                img(src="#{imgDate[0]}" class="big-picture")
                        ul.product-small-img
                            - for (var x = 0; x < imgDate.length; x++)
                                li.list
                                    a
                                        img(src="#{imgDate[x]}" class="picture")
                .buy-content-text
                    .buy-content-text-a
                        - var foo = goodsData[0].name
                        h1.buy-content-text-a1= foo
                        - var foo = goodsData[0].info
                        em.buy-content-text-a2= foo
                    .buy-content-box
                        ul.buy-content-text-b
                            li.buy-content-state
                                -var foo = "商品编码："
                                em= foo
                                .buy-content-box
                                    - var foo = goodsData[0].id
                                    em.buy-content-state-b#goods-code= foo
                            li.buy-content-state1
                                - var foo = "价    格："
                                em.buy-content-state-a= foo
                                .buy-content-price
                                    -var foo = goodsData[0].price
                                    em.buy-content-state-b#sales-price= foo
                                    em   元
                    ul.buy-content-text-c
                        li.buy_content_state#buy-goods-num-box
                            - var foo = "数    量："
                            em.buy-content-state-a= foo
                            em
                                ul.quantity-purchased
                                    li.quantity
                                        button#goods_number_minus -
                                        input(type="text",id="goods-number-input",name="goods-number-input",value="1")
                                        button#goods_number_plus +
                    .buy_content_arrow
                        .jiathis_style
                            a.jiathis_button_qzone
                            a.jiathis_button_tsina
                            a.jiathis_button_tqq
                            a.jiathis_button_weixin
                            a.jiathis_button_renren
                            a.jiathis_counter_style
                    ul.buy_content_button
                        li
                            .button_join_cart.patt_bg_join_cart#add_to_cart   加入购物车


            br
            br
            .container
                    .left
                        #shopping-board
                            .titleOne
                                h5 商城公告
                            .board-ontent
                                ul
                                    li.content-list  庆祝新店开张，满199减50
                                    li.content-list  江浙沪地区包邮
                                    li.content-list  小巨人商城祝您购物愉快。
                    .right
                        .text
                            ul.nav.nav-tabs
                                li(role="presentation",class="active")
                                    a(href="#")  商品详情
                        .jumbotron
                            p.
                                产品名称: #{goodsData[0].name}
                            p.
                                #{goodsData[0].detail}
                            p.
                                产品类型：#{goodsData[0].type}
                            p.
                                产品图片介绍:
                            img(src="#{imgDate[0]}")

        include footer.html
    script(src="./javascripts/cookie.js")    
    script(src="./jquery/dist/jquery.js")
    script(src="./bootstrap/dist/js/bootstrap.js")
    script(src="./javascripts/add.js")
