doctype html
html(lang="en")
    head
        title= "category"
        link(rel="stylesheet" href="./stylesheets/layoutStyle.css")
        link(rel="stylesheet" href="./stylesheets/order.css")
        link(rel="stylesheet" href="./bootstrap/dist/css/bootstrap.min.css")
    body
        include header.html
        .container
            table(class="order-table")
                thead(class="")
                    tr(class="col-name")
                        th(class="commodity") 买到的商品
                        th(class="price") 单价
                        th(class="quantity") 数量
                        th(class="amount") 实付金额
                        th(class="status") 交易状态
                        th(class="operate") 操作
                    tr(class="line")
                for order in orders
                    if (order.operate_field === "N")
                        tbody
                            tr
                                td(class="first" colspan="6")
                                    .order-time
                                        .deal-time #{order.time}
                                        .order-item 订单号: #{order.id}
                            tr
                                td(class="name")
                                    div
                                        .item-picture
                                            img(src="#{order.img}")
                                        .item-name #{order.item_name}
                                td #{order.price}
                                td #{order.number}
                                td #{order.amount}
                                td
                                    if (order.status === "N")
                                        div(id="trading" class="trading" data-id="#{order.id}") 卖家已发货
                                        div(id="confirm" class="confirm" data-id="#{order.id}")
                                            a(id="status" class="status" data-id="#{order.id}" href="#" data-toggle="modal" data-target="#confirm-goods") 确认收货
                                    else
                                        div(id="trading" class="trading" data-id="#{order.id}") 交易成功
                                        div 已确认收货
                                td
                                    a(id="delete" class="delete" data-id="#{order.id}" href="#" data-toggle="modal" data-target="#confirm-delete") 删除
                            tr(class="line")
                            div.modal.fade#confirm-delete
                                div.modal-dialog
                                    div.modal-content
                                        div.modal-header
                                            请确认
                                        div.modal-body
                                            确认删除该记录吗？
                                        div.modal-footer
                                            button(type="button" class="btn btn-default" data-dismiss="modal")    取消
                                            a(class="btn btn-danger btn-ok" data-dismiss="modal" id="deleteit")    删除记录
                            div.modal.fade#confirm-goods
                                div.modal-dialog
                                    div.modal-content
                                        div.modal-header
                                            请确认
                                        div.modal-body
                                            确认收货吗？
                                        div.modal-footer
                                            button(type="button" class="btn btn-default" data-dismiss="modal")    取消
                                            a(class="btn btn-danger btn-ok" data-dismiss="modal" id="goods")    确认收货
        include footer.html
    script(src="./jquery/dist/jquery.js")
    script(src="./bootstrap/dist/js/bootstrap.js")
    script(src="./javascripts/order.js")
